
.hr-style{
  width: 40%;
}

/*  */
.search{
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.App-header{
  padding: 20px;
  background: rgba(30, 106, 106, 0.442);
}

.card{
  display: flex;
  justify-content: center;
}