.App {
  text-align: center;
}


.App-header {
  color: rgb(66, 60, 60);
  width: 100%;
  display: flex;
  justify-content: center;
}


.center{
  text-align: center;
}


.grey-color{
  color: rgb(60, 59, 59);
}

.one-rem-margin{
  margin: 1rem;
}

.input-field{
  width: 50%;
}